.container{
    height: 100vh;
   
    
   

}

*{
    box-sizing: border-box;
}

body{
  margin: 0;
  overflow: hidden;
  font-size: 14;
  color: white;
}



.menu-item.selected{
    background-color: #fff;
    color: #107c41;
}

.menu-item.selected:hover{
    background-color: #fff;
    cursor: default;
}
.menu-item:hover{
    background-color: #0b5d30;
    cursor: pointer;
}
.menu-item{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 18;
    display: flex;
    align-items: center;
}
.menu-bar{
    height: 5vh;
    color: black;
    background-color: #107c41;
    display: flex;
    
    
}
 
.title-bar{
    height: 5vh;
    background-color: #107c41;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-bar{
    height: 5vh;
    color: black;
    display: flex;
    background-color: rgb(184, 177, 177);
    align-items: center;
   
}
.menu-icon{
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;

}
.menu-icon:hover{
    background-color: rgb(122, 118, 118);
    cursor: pointer;
}

.formula-bar{
    height: 5vh;
    
}

.data-container{
    height: 76vh;
   flex-wrap: wrap;
   display: flex;
   
}
.select-all{
    height: 30px;
    width: 30px;
    border: 1px solid rgb(106, 104, 104);
}
.raw-name-container{
    height: calc(76vh - 30px);
    width: 30px;
    border: 1px solid rgb(106, 106, 108);
    overflow: hidden;
   
}

.row-name{
    color: black;
    height: 30px;
    display: flex;
    border-bottom: 1px solid rgb(108, 106, 106);
    align-items: center;
    justify-content: center;
    
    
}

.column-name-container{
    height: 30px;
    width: calc(100vw - 30px);
    border: 1px solid rgb(104, 106, 104);
    display: flex;
    
}

.column-name{
    color: black;
   min-width:  100px;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
   border-right: 1px solid lightslategray;
}
.input-cells{
    width: calc(100vw - 30px);
    height: calc(76vh - 30px);
    border: 1px solid rgb(105, 102, 102);
    overflow: hidden;
    color: black;
    
}

.cell-raw{
    display: flex;
    border: 1px solid black;
}
.cells {
    border-bottom: 1px solid rgb(107, 105, 105);
    border-right: 1px solid rgb(107, 105, 105);
    height: 30px;
    min-width: 100px;
    overflow: hidden;
    border-color: #107c41;
}

.cells.selected{
    border:2px solid  #107c41;
}
.sheet-bar{
    height: 4vh;
    
}

